mixin formFor(formObj, options = {})
  - const url = _.get(options, 'url');
  - const method = _.get(options, 'method', 'get').toLowerCase();
  - const confirm = _.get(options, 'confirm');
  - const isStandart = _.includes(['get', 'post'], method);
  form(action= url method= isStandart ? method : 'post' data-confirm= confirm)
    if !isStandart
      input(name='_method' type='hidden' value= method)
    block


mixin input(formObj, property, label, options = { as: 'text' })
  - const value = formObj.object[property] === undefined || property === 'password' ? '' : formObj.object[property]
  .form-group
    label= label
    if formObj.errors[property]
      input(name=property class='form-control is-invalid' type=options.as value=`${value}`)
      .invalid-feedback= formObj.errors[property].map(({ message }) => message).join('. ')
    else
      input(name=property class='form-control is-valid' type=options.as value=`${value}`)



mixin button(value = 'Submit', type = 'submit', style)
  .form-group.pt-3
  - const choice = `${style}`
  case choice
    default
      input(class='btn btn-block btn-primary' type=`${type}` value=`${value}`)
      - break
    when 'danger'
      input(class='btn btn-block btn-danger' type=`${type}` value=`${value}`)
      - break
    when 'light'
      input(class='btn btn-block btn-light' type=`${type}` value=`${value}`)
      - break

mixin filterCheckbox(key, value, label, condition)
  .form-group.form-check.mt-4
    input.form-check-input(type='checkbox' name=key value=value checked=condition ? true : false)
    label.form-check-label= label

mixin selectStatus(list, name, firstValue, mode = 'searchMode')
    select.form-control(name= name)
      if (mode !== 'editMode')
        option(value='0') any
      if list.length > 0
        each item in list
          if (firstValue === item.name)
            option(value=item.id selected)= `${item.name}`
          else
            option(value=item.id)= `${item.name}`

mixin selectUser(list, name, firstValue, mode = 'searchMode')
    select.form-control(name= name)
      if (mode !== 'editMode') 
        option(value='0') any
      if list.length > 0
        each item in list
          if (firstValue === item.getFullName())
            option(value=item.id selected)= `${item.getFullName()}`
          else
            option(value=item.id)= `${item.getFullName()}`